<div class="jumbotron">
    <h1>Willie's Cycle</h1>
    <p class="lead">Willie's Cycle is a motorcycle salvage yard based out of Camphill, AL. This is a project for Senior Design at Auburn University.
    The project consists of creating 2 foward facing apps to give customers the ability to interact and search the yard's inventory and make inquiries
    and purchases.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>GitHuB</h2>
        <p>GitHub is being used to allow easier collaboration and allow the use of version control.</p>
        <p><a class="btn btn-default" href="https://github.com/pierceboggan/WilliesCycles">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Google Drive</h2>
        <p>Google Drive is being used for joint sharing of documentation and any source materials.</p>
        <p><a class="btn btn-default" href="https://drive.google.com/open?id=0B7mmrPPtuHx3fmhub2RtRVNCc1BYR0JhdldieTBHUnJKcGwtSVZvVkdVdjY3NGdqR0Y1b3M&authuser=0">Learn more &raquo;</a></p>
    </div>
</div>
